<header>
  <nav>
    <div class="navbar-left">
      <ul class="navbar-items">
        <li class="navbar-item"><a href="#">Movies</a></li>
        <li class="navbar-item"><a href="#">Tv Shows</a></li>
        <li class="navbar-item"><a href="#">People</a></li>
        <li class="navbar-item"><a href="#">More</a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <ul class="navbar-items">
        <li class="navbar-item"><a href="#">Login</a></li>
        <li class="navbar-item"><a href="#">Join TMDB</a></li>
      </ul>
    </div>
  </nav>
</header>
