<div class="container">
  <div class="movie-section">
    <div class="flex flex-middle">
      <h3>What's Popular</h3>
      <ul class="tabs">
        <li class="tab-active"><a href="">Streaming</a></li>
        <li><a href="">On TV</a></li>
        <li><a href="">For Rent</a></li>
        <li><a href="">In Theatres</a></li>
      </ul>
    </div>
    <div class="movie-cards">
      <div class="movie-card">
        <a href="#">
          <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/ekZobS8isE6mA53RAiGDG93hBxL.jpg" alt="">
          <h2>Movie Name</h2>
          <p>Movie Date</p>
        </a>
      </div>
      <div class="movie-card">
        <a href="#">
          <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/ekZobS8isE6mA53RAiGDG93hBxL.jpg" alt="">
          <h2>Movie Name</h2>
          <p>Movie Date</p>
        </a>
      </div>
      <div class="movie-card">
        <a href="#">
          <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/ekZobS8isE6mA53RAiGDG93hBxL.jpg" alt="">
          <h2>Movie Name</h2>
          <p>Movie Date</p>
        </a>
      </div>
      <div class="movie-card">
        <a href="#">
          <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/ekZobS8isE6mA53RAiGDG93hBxL.jpg" alt="">
          <h2>Movie Name</h2>
          <p>Movie Date</p>
        </a>
      </div>
      <div class="movie-card">
        <a href="#">
          <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/ekZobS8isE6mA53RAiGDG93hBxL.jpg" alt="">
          <h2>Movie Name</h2>
          <p>Movie Date</p>
        </a>
      </div>
      <div class="movie-card">
        <a href="#">
          <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/ekZobS8isE6mA53RAiGDG93hBxL.jpg" alt="">
          <h2>Movie Name</h2>
          <p>Movie Date</p>
        </a>
      </div>
      <div class="movie-card">
        <a href="#">
          <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/ekZobS8isE6mA53RAiGDG93hBxL.jpg" alt="">
          <h2>Movie Name</h2>
          <p>Movie Date</p>
        </a>
      </div>
      <div class="movie-card">
        <a href="#">
          <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/ekZobS8isE6mA53RAiGDG93hBxL.jpg" alt="">
          <h2>Movie Name</h2>
          <p>Movie Date</p>
        </a>
      </div>
    </div>
  </div>
</div>
s
