<div class="container">
  <div class="movie-section">
    <div class="flex flex-middle">
      <h3>What's Popular</h3>
      <ul class="tabs">
        <li class="tab-active"><a href="">Streaming</a></li>
        <li><a href="">On TV</a></li>
        <li><a href="">For Rent</a></li>
        <li><a href="">In Theatres</a></li>
      </ul>
    </div>
    <div class="movie-cards">
      <div *ngFor="let movie of movies.results; let i = index" class="movie-card">
        <a [routerLink]="['/movie-detail', movie.id]">
          <img [src]="imagePath + movie.poster_path" alt="">
          <h2>{{movie.title}}</h2>
          <p>{{movie.release_date | date:'MMM dd, y'}}</p>
        </a>
      </div>
    </div>
  </div>
</div>
