<div class="container">
  <div class="flex">
    <div class="width-1-3 flex flex-column">
      <div class="flex flex-column flex-end">
        <img
          src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
          class="width-1-3" alt="">
        <a class="community" href="#">JOIN THE COMMUNITY</a>
      </div>
    </div>
    <div class="width-2-3 flex footer-links">
      <div>
        <div class="links-header">THE BASICS</div>
        <ul class="links-list">
          <li><a href="">About TMDB</a></li>
          <li><a href="">Support Forums</a></li>
          <li><a href="">API</a></li>
          <li><a href="">System Status</a></li>
        </ul>
      </div>
      <div>
        <div class="links-header">GET INVOLVED</div>
        <ul class="links-list">
          <li><a href="">Contribution Bible</a></li>
          <li><a href="">3rd Party Applications</a></li>
          <li><a href="">Add New Movie</a></li>
          <li><a href="">Add New TV Show</a></li>
        </ul>
      </div>
      <div>
        <div class="links-header">COMMUNITY</div>
        <ul class="links-list">
          <li><a href="">Guidelines</a></li>
          <li><a href="">Discussions</a></li>
          <li><a href="">Leaderboard</a></li>
          <li><a href="">Twitter</a></li>
        </ul>
      </div>
      <div>
        <div class="links-header">LEGAL</div>
        <ul class="links-list">
          <li><a href="">Terms of Use</a></li>
          <li><a href="">API Terms of Use</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
